footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    /* min-height: 5%;
    max-height: 10%; */
    padding-bottom: 3px;
    background-color: #fff;
    box-shadow: 0rem 0rem 0.8rem rgba(50, 50, 50, 0.3);
    
}

.hLine{
    height: 1px;
    background-color: var(--color-wil);
    width: 90%;
    margin: 0 auto;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: 5px 15px;
    height: 1.2rem;
}